%body.payment-body
  .payment-header
    .payment-header-logo
      = link_to href:"#"
        = image_tag "fmarket_logo_red.svg", alt: "ロゴマーク", class: "payment-header-logo__mark"
    .payment-header-right
      .progress
        %p.progress__pages 会員情報
        %p.progress__point.active ●
        .progress-line-start
          .progress-line-start__line1
          .progress-line-start__line2
      .progress
        %p.progress__pages 電話番号認証
        %p.progress__point.active ●
      .progress
        %p.progress__pages お届け先住所入力
        %p.progress__point.active ●
      .progress
        %p.progress__pages.active 支払い方法
        %p.progress__point.active ●
      .progress
        %p.progress__pages 完了
        %p.progress__point ●
    .payment-main
      .payment-container
        %h2.payment-container__top 支払い方法
        .payment-contents
          %form.payment-contents-form
            .payment-cardnum.payment-items
              %p.payment-cardnum__top-left.info_item カード番号
              %p.payment-cardnum__top-right.required 必須
              %br/
              %input.payment-cardnum__input.input{placeholder: "半角数字のみ", type: "text", value: ""}/
              %br/
              %img.payment-cardnum__creditimg{alt: "クレジットカード", src: "creditcard.png"}/
            .payment-expiration-date.payment-items
              %p.payment-expiration-date__top-left.info_item 有効期限
              %p.payment-expiration-date__top-right.required 必須
              %br/
              .ymd-block
                .ymd-block__select.month
                  %i.fas.fa-angle-down.fa-large
                %p.ymd-block__ymd 月
                .ymd-block__select.day
                  %i.fas.fa-angle-down.fa-large
                %p.ymd-block__ymd 年
            .payment-securitycode.payment-items
              %p.payment-securitycode__top-left.info_item セキュリティコード
              %p.payment-securitycode__top-right.required 必須
              %br/
              %input.payment-securitycode__input.input{placeholder: "カード背面4桁もしくは3桁の番号", type: "text", value: ""}/
              %br/
            .payment-registor.payment-items
              = link_to href:"#" do
                %i.fas.fa-question-circle>
                カード裏面の番号とは？
            .payment-next.payment-items
              %input.payment-next__btn{type: "submit", value: "次へ進む"}/
              %br/
  = render "footer"