.banner{
  background: url(SVG/cookie0I9A9685_TP_V.jpg);
  background-position: center;
  background-size: cover;
}
  .banner__block{
    width: 750px;
    height: 260px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
  }
    .bunner__block__left__app{
      margin-top: 50px;
      margin-bottom: 0px;
    }
    .bunner__block__left__text{
      font-size: 34px;
      font-weight: bold;
      margin: 0 0 5px 0;
      width: 130%;
    }
    .banner__block__left__icon{
      display: flex;
    }
      .mercari__icon{
        height: 68px;
        margin-right: 20px;
        width: 68px;
      }
      .banner__app{
        display: flex;
        list-style: none;
        padding-left: 15px;
      }
      .app__icon{
          margin: 0 0 0 16px;
        }




footer{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
  width: 100%;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}
  .footer__main{
    margin: 0 auto;
    display: flex;
    width: 77%;
  }
    footer h2{
      font-size: 16px;
    }
    footer a {
      text-decoration: none;
      color: lightgray;
    }
    footer ul {
      list-style: none;
      padding-left: 0px;
    }
    footer li {
      line-height: 1.4em;
      margin: 16px 0px 0px;
      color: lightgray;
    }
    footer li:hover{
      text-decoration: underline;
    }
    .footer__main__up{
      display: flex;
      width: 55%;
    }
      .footer__main__up__about{
        display: inline-block;
        margin-top: 0px;
        vertical-align: top;
        padding: 0px 15px;
        width: 49%;
      }
        .footer__about__icon{
          display: inline-block;
          color: white;
          margin-top: 30px;
          max-width: 100%;
          max-height: 100%;
          margin-right: 20px;
        }
      .footer__main__up__guide{
        display: inline-block;
        margin-top: 0px;
        vertical-align: top;
        padding: 0px 14px;
        width: 56%;
      }

    .footer__service {
      display: inline-block;
      margin-top: 0px;
      padding: 0px 0px 0px 15px;
      width: 60%;
    }
      .footer__service__zero{
        display: flex;
      }
        .footer__service__one{
          display: inline-block;
          margin-top: 0px;
          width: 50%;
        }
        .footer__service__two{
          display: inline-block;
          padding: 0px 20px;
          width: 50%;
          margin-right: 40px;
        }
 

    .footer__country{
      display: inline-block;
      margin-top: 0px;
      padding: 0px 20px 0px 0px;
      width: 25%;
    }

  .footer__footer {
    width: 77%;
    margin: 30px auto;
    display: flex;
  }
    .footer__inc {
      text-align: center;
      width: 75%;
      padding-top: 17px;
    }
    .footer__icon {
      color: white;
      font-size: 20px;
      display: flex;
    }
    .footer__img__logo {
      display: inline-block;
      vertical-align: middle;
      line-height: 40px;
    }

@media screen and (max-width:1067px) { 
  .footer__main{
    flex-direction: column;
  }
  .footer__up{
    display: flex;
  }
  .footer__service__zero {
    display: flex;
  }
  .country__block {
    display: flex;
  }
  .country__block__list{
    padding-right: 20px;
  }
}