.footer
  %a.footer__menu.privacy{href: "#"} プライバシーポリシー
  %a.footer__menu.terms{href: "#"} メルカリ利用規約
  %a.footer__menu.notaiton{href: "#"} 特定商取引に関する表記
  %a.footer__menu.logo{href: "#"}
    %img.logo__mercari-logo{src: "logo_gray.svg"}/
  %p.footer__copymark
    %small © 2019 Mercari