.buydone-main{
  width: 700px;
  margin: 0 auto;
}
.wait{
  text-align: center;
  padding: 20px 0;
  background-color: #FFFFB4;
}
.fa-clock{
  color: #ea352d;
  font-size: 24px;
}
.please_wait{
  display: inline-block;
  margin: 0;
  color: #ea352d;
  font-weight: 700;
  line-height: 27px;
}
.under-please_wait{
  margin: 8px 0 0 0;
}
.buy-complete{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f3;
}
.buy-complete-text{
  font-weight: 700;
  font-size: 24px;
}
.buy-complete-img{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f3;
}
.buy-done-itemname{
  font-weight: 700;
}
.buy-complete-price{
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
}
.buy-done-price{
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
  margin-right:5px;
}
.buy-done-postage{
  display: inline-block;
}
.buy-complete-adress{
  padding: 20px 150px;
  border-bottom: 1px solid #f3f3f3;
}
.buy-complete-paymethod{
  padding: 20px 150px;
  border-bottom: 1px solid #f3f3f3;
}
.after-buy-done-flow{
  text-align: center;
}
.after-buy-done-flow{
  padding: 20px 0;
}
.redirect-mypage{
  text-decoration: none;
  color: #0099e8;
}