  %body
    %header
      .content
        .header-upper
          .header-upper-left
            .upper-logo
              %img#mercari-icon{:alt => "logo", :src => "fmarket_logo_red.svg"}/
            .header-upper-right
              %input#search{:placeholder => "何かお探しですか？", :type => "text"}/
              %button#sbtn{:type => "submit"}
                %i.fas.fa-search{:style => "color: #333;"}
        .header-lower
          .header-lower-left
            %ul
              %li
                %i.fas.fa-list-ul
              %li カテゴリーから探す　
              %li
                %i.fas.fa-tags
              %li ブランドから探す
          .header-lower-right
            %ul
              %li
                %a{:href => "#"}
                  %i.far.fa-heart
                  いいね！一覧
              %li
                %a{:href => "#"}
                  %i.far.fa-bell
                  お知らせ
              %li
                %a{:href => "#"}
                  %i.fas.fa-check
                  やることリスト
              %li
                %a{:href => "#"}
                %i.fas.fa-user-circle
                マイページ
