* {
  box-sizing: border-box;
}
.logout-container{
  background-color: rgb(235,235,235);
  width: 700px;
}
.logout-signout{
  height: 179px;
  text-align: center;
  line-height: 10;
  background-color: rgb(255,255,255);

  
    .btn-logout{
    width: 318px;
    height: 48px;
    background-color: rgb(234,53,45);
    border: 1px solid rgb(234,53,45);
    color: rgb(255,255,255);
    cursor: pointer;
    font-size: 14px;
  }
}
