!!!
/ ##貼り付け時要削除
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title メルカリ
    %link{:href => "toppage_body.css", :rel => "stylesheet"}/
  / ##ここまで
  %body
    .main
      %noscript
      .slide_screen
        %img{:height => "390", :src => "img2.jpg", :width => "100%"}/
      / ##人気のカテゴリーリンク
      .popular__link
        %h2.popular__link__h 人気のカテゴリー
        .category__box
          %ul.category__box__text
            %li.category__box__text__1
              %a.category__box__text__a{:herf => "http//~~"} レディース
            %li.category__box__text__1
              %a.category__box__text__a{:herf => "http//~~"} メンズ
            %li.category__box__text__1
              %a.category__box__text__a{:herf => "http//~~"} 家電・スマホ・カメラ
            %li.category__box__text__1
              %a.category__box__text__a{:herf => "http//~~"} おもちゃ・ホビー・グッズ
      / ##人気カテゴリー本体
      .popular__body
        / ##レディース
        .category__body__1
          .category__body__1__text
            %h.category__body__1__text__h レディース新着アイテム
            %a.category__body__1__text__a{:herf => "http//~~~"} もっと見る＞
          / ##商品１
          %ul.category__body__1__itemlist__itembox
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
        / ##メンズ
        .category__body__1
          .category__body__1__text
            %h.category__body__1__text__h メンズ新着アイテム
            %a.category__body__1__text__a{:herf => "http//~~~"} もっと見る＞
          / ##商品２
          %ul.category__body__1__itemlist__itembox
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
        / ##家電
        .category__body__1
          .category__body__1__text
            .category__body__1__text__h 家電・スマホ・カメラ
            %a.category__body__1__text__a{:herf => "http//~~~"} もっと見る＞
          %ul.category__body__1__itemlist__itembox
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
        / ##オモチャ
        .category__body__1
          .category__body__1__text
            .category__body__1__text__h おもちゃ・ホビー・グッズ
            %a.category__body__1__text__a{:herf => "http//~~~"} もっと見る＞
          %ul.category__body__1__itemlist__itembox
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
            %li.category__body__1__itemlist__itembox__item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                %a.link_to_item__1{:herf => "@item.url"}
                  %figure.item_detail__1
                    .item_figure__1
                      %span.item_figure__1__price{"aria-label" => "Price"}
                        ¥10,000
                      %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                    .captionbox
                      %figcaption
                        %span
                          グラマラススパッツMサイズ
        / ##人気のブランドリンク
        .popular__link
          %h2.popular__link__h 人気のカテゴリー
          .category__box
            %ul.category__box__text
              %li.category__box__text__1
                %a.category__box__text__a{:herf => "http//~~"} シャネル
              %li.category__box__text__1
                %a.category__box__text__a{:herf => "http//~~"} ルイヴィトン
              %li.category__box__text__1
                %a.category__box__text__a{:herf => "http//~~"} シュプリーム
              %li.category__box__text__1
                %a.category__box__text__a ナイキ
        / ##人気ブランドー本体
        .popular__body
          / ##シャネル
          .category__body__1
            .category__body__1__text
              %h.category__body__1__text__h シャネル新着アイテム
              %a.category__body__1__text__a{:herf => "http//~~~"} もっと見る＞
            %ul.category__body__1__itemlist__itembox
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
          / ##ルイヴィトン
          .category__body__1
            .category__body__1__text
              %h.category__body__1__text__h ルイヴィトン新着アイテム
              %a.category__body__1__text__a{:herf => "http//~~~"} もっと見る＞
            %ul.category__body__1__itemlist__itembox
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
          / ##シュプリーム
          .category__body__1
            .category__body__1__text
              .category__body__1__text__h シュプリーム
              %a.category__body__1__text__a{:herf => "http//~~~"} もっと見る＞
            %ul.category__body__1__itemlist__itembox
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
          / ##ナイキ
          .category__body__1
            .category__body__1__text
              .category__body__1__text__h ナイキ
              %a.category__body__1__text__a{:herf => "http//~~~"} もっと見る＞
            %ul.category__body__1__itemlist__itembox
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
              %li.category__body__1__itemlist__itembox__item
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity:1;"}
                  %a.link_to_item__1{:herf => "@item.url"}
                    %figure.item_detail__1
                      .item_figure__1
                        %span.item_figure__1__price{"aria-label" => "Price"}
                          ¥10,000
                        %img.item_figure__1__img{:alt => "画像をアップしてください", :height => "188", :src => "img1.jpg", :width => "188"}/
                      .captionbox
                        %figcaption
                          %span
                            グラマラススパッツMサイズ
