%header
.container
  %container.clearfix
    .l-content
      %section.chapter-container
        %h2.title-head 支払い方法
      .single-inner
        %section
          .single-content
            %h3.chapter-sub-head クレジットカード一覧
          %ul.settings-payment-list
        %section.settings-add-card
          .l-single-content
            %a.btn-default.btn-red.submit_button{:href => "#"}
              %i.far.fa-credit-card>
              クレジットカードを追加する
        .settings-not-regist
          %p
            %a.text-right
            %a{:href => "#", :target => "_blank"}
              %span 支払い方法について
              %i.fas.fa-chevron-right
