body {
  top: 0;
  left: 0;
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333333;
}

header {
  height: 40px;
  background-color: rgb(245, 245, 245);
}

.main-container {
  background-color: rgb(245, 245, 245);
}

.l-content {
  margin: 0 auto;
  width: 700px;
  height: 1208px;
  background-color: white;
}

.l-title-head {
  margin-top: 0;
  width: 700px;
  height: 50px;
  font-size: 24px;
  border-bottom: 1px solid rgb(245, 245, 245);
  text-align: center;
  background-color: white;
  line-height: 50px;
}

.l-chapter-container {
  padding: 43px;
  margin: 0 auto;
  width: 572px;
}

p {
  font-size: 14px;
  width: 572px;
  color: #333333;
  text-align: left;
  padding: 0;
  margin: 8px 0 0;
  line-height: 1.5;
}

a {
  color: #0099e8;
  text-decoration: none;
  text-align: right;

  &:hover {
    color: #7ae3fd;
    text-decoration: underline;
    vertical-align: inherit;
  }
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
  touch-action: manipulation;
}

.form-group {
  text-align: left;
  margin: 40px 0 0;

  select {
    width: 100%;
  }

  label {
    font-weight: 600;
    font-size: 14px;
  }
}

.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.form-group .input-default {
  width: 572px;
  margin: 8px 0 0;
  z-index: 2;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.btn-red {
  color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  background: rgb(234, 53, 45);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 53, 45);
  border-image: initial;
  margin: 40px 0px 0px;
  padding: 0px 30px;
  transition: all 0.3s ease-out 0s;
}

.form-arbitrary {
  background: #ccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}